# Server
PORT=3000

# Paymob Credentials
PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFME16STNNaXdpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS5keXZUT0Jjd0oxYXp2MTd3XzBaLW5Oa2t1aGp1Zm1XRW5rR29lRVIwejZ0NHpmRnpxbjVVenMwWkpjV01SMTZieHNQWjkyX0dVSnJnWGJMQUdiRHdqUQ==
PAYMOB_IFRAME_ID=1017676
PAYMOB_INTEGRATION_ID=5586786
PAYMOB_HMAC_SECRET=927FBAED5CDD5DDEF78CD09CCACFAAA5

# Optional (future use)
# DATABASE_URL=your_database_url_here