# Server
PORT=3000
PUBLIC_BASE_URL=https://your-public-backend-url.example.com

# Paymob Credentials
PAYMOB_API_KEY=your_paymob_api_key
PAYMOB_IFRAME_ID=your_paymob_iframe_id
PAYMOB_INTEGRATION_ID=your_paymob_integration_id
PAYMOB_HMAC_SECRET=your_paymob_hmac_secret
